@model IEnumerable<E4S.Models.ApplicationUser>
@{
  ViewData["Title"] = "User Management";
}
    <style>
        .body-pad {
            padding: 2%;
        }
    </style>

<div class="content">
 

  <div class="row">
    <!-- Column -->

    <div class="container-fluid">     
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card body-pad ">
                <div class="card-header">
                  <h4 class="card-title">List of Users</h4>

                  @*<div class="justify-content-end align-items-center pull-right">*@
                  <a asp-action="AddUser" asp-controller="Users" class="btn btn-info">Create New</a>
                  @*</div>*@

                </div>
              <div class="card-body">
                <br />
                  <div class="row">
                      <div class="col-12 col-sm-12 col-lg-12">
                          <div class="table-responsive" style="overflow:auto">
                              <table id="datatable" class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th>Name</th>
                                          <th>E-mail</th>
                                          <th>Role</th>
                                          <th class="disabled-sorting text-right">Actions</th>
                                      </tr>
                                  </thead>
                                  @*<tfoot>
          <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Role</th>
            <th class="disabled-sorting text-right">Actions</th>
          </tr>
        </tfoot>*@
                                  <tbody>

                                      @foreach (var item in Model)
                                      {
                                          <tr>
                                              <td>@item.FirstName @item.LastName</td>
                                              <td>@item.Email</td>
                                              <td>@item.UserRole</td>
                                              <td class="text-right">
                                                  <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-round btn-warning btn-icon btn-sm edit" title="Click to Edit"><i class="far fa-edit"></i></a>
                                                  <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" title="Click to Delete"><i class="fas fa-times"></i></a>
                                              </td>
                                          </tr>

                                      }
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                
              </div>
                  <!-- end content-->
                </div>
                <!--  end card  -->
              </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>
  

