@model ibroka.Models.LeadManagement.Lead
<script src="~/js/LeadCustom.js"></script>
<script src="~/assets/js/lead.js"></script>

<div class="modal-content" style="width:850px;">
    <form enctype="multipart/form-data" method="post">
        <div style="padding:0px;" class="modal-header">

            <div style="background-color:#214166; margin:0px;" class="row col-md-12">
                <div class="col-md-6"><h4 style="padding:5px 10px; color:#fff; margin:0" class="modal-title" id="myModalLabel"><span id="txtTitle">Lead Details</span></h4></div>
                <div class="col-md-6 pull-right">

                </div>
            </div>
        </div>
        <div style=" margin:0px;" class="row col-md-12">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <input style="margin-top:10px; padding:7px 14px; width:30%; float:right; display:none" type="submit" value="Submit" id="idLeadSubmit" asp-action="EditLeadData" asp-controller="Client" class="btn btn-info" />
                <input style="margin-top:10px; padding:7px 14px; width:70px !important; float:right" type="button" value="Close" class="btn btn-info btn-round" onclick="closeLeadView()" />
                <input style="margin-top:10px; padding:7px 14px; width:70px !important; float:right; display:none" type="button" value="Save" class="btn btn-fill btn-primary btn-round" onclick="validateLeadData()" id="idLead_Submit" />&nbsp;
                @if (Model.policy.PolicyId == Guid.Empty)
                {
                    <input style="margin-top:10px; padding:7px 14px; width:70px !important; float:right; display:none" type="button" value="Edit" class="btn btn-fill btn-primary btn-round" onclick="updateLeadData()" id="btnUpdateLead" />
                }

            </div>
        </div>
        <div style="margin-top:-25px; " class="modal-body">
            <div class="instruction">

                <div id="dvPolicies" class=" tab-content" style="margin-left:1px;margin-right:1px;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Policy Class</label>
                                <select id="ddlPC" asp-for="policyClassId" type="text" asp-items="ViewBag.PolicyClasses" class="form-control" readonly></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="policy.Id" class="form-control" style="display:none" />
                            <input asp-for="policy.ClientId" class="form-control" style="display:none" />
                            <input asp-for="policy.PolicyClassId" class="form-control" style="display:none" />
                            <input asp-for="policy.CreatedBy" class="form-control" style="display:none" />
                            @*<input asp-for="policy.Status" class="form-control" style="display:none" />*@
                            <input asp-for="policy.PolicyClassId" class="form-control" style="display:none" />
                            <input asp-for="policy.LeadNo" class="form-control" style="display:none" />
                            <input asp-for="policy.OrganisationId" class="form-control" style="display:none" />
                            <input asp-for="policy.DateCreated" class="form-control" style="display:none" />
                            <input asp-for="policy.DateUpdated" class="form-control" style="display:none" />
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>

                    <div style="margin-left:5px">
                        <div>
                            <div>

                                <div id="dvThirdPartyMotor" style="display:none">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Make Of Vehicle</label>
                                                <input name="MakeOfVehicle" id="txtMakeOfVehicle" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Model Of Vehicle</label>
                                                <input name="ModelOfVehicle" id="txtModelOfVehicle" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Year Of Make</label>
                                                @*<input name="YearOfMake" id="txtYearOfMake" class="form-control" />*@
                                                <select name="YearOfMake" id="txtYearOfMake" class="form-control"></select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Cubic Capacity</label>
                                                <input name="CubicCapacity" id="txtCubicCapacity" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Registration No</label>
                                                <input name="RegistrationNo" id="txtRegistrationNo" class="form-control" onkeypress="return validateAlphaNumericOnKeyPress(event);" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Risk Type</label>
                                                <select name="RiskType" id="txtRiskType" type="text" class="form-control">
                                                    <option>Private</option>
                                                    <option>Commercial</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Value Insured</label>
                                                <input name="ValueInsured" id="txtValueInsured" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />

                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">

                                        </div>

                                    </div>
                                </div>

                                <div id="dvlifePolicy" style="display:none">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Name Of Assured</label>
                                                <input name="NameOfAssured" id="txtNameOfAssured" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">DOB</label>
                                                @*<input asp-for="DOB" class="form-control" />*@
                                                <input id="idDOB" name="DOB" type="date" class="form-control">

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Sex</label>
                                                <select name="Sex" id="txtSex" type="text" class="form-control">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Salary</label>
                                                <input name="Salary" id="txtSalary" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Sum Assessed</label>
                                                <input name="SumAssessed" id="txtSumAssessed" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Next Of Kin</label>
                                                <input name="NextOfKin" id="txtNextOfKin" class="form-control" />

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="dvCorporateBond" style="display:none">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Nature Of Contract</label>
                                                <input name="NatureOfContract" id="txtNatureOfContract" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Project Name</label>
                                                <input name="ProjectName" id="txtProjectName" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Premium Rates</label>
                                                <input name="PremiumRates" id="txtPremiumRates" class="form-control" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract Amount</label>
                                                <input name="ContractAmount" id="txtContractAmount" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Bond Amount</label>
                                                <input name="BondAmount" id="txtBondAmount" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />

                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                    </div>


                                </div>

                                <hr />
                                <div style="margin-top:-16px;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Start Date</label>
                                                @*<input asp-for="StartDate" class="form-control" />*@
                                                <input id="idStartDate" name="txtStartDate" type="date" class="form-control">

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">End Date</label>
                                                @*<input asp-for="EndDate" class="form-control" />*@
                                                <input id="idEndDate" name="txtEndDate" type="date" class="form-control">

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                               <label class="control-label">(%)Risk Owned By Broker</label>
                                                <input asp-for="policy.RiskOwnedByBroker" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Sum Insured</label>
                                                <input id="txtSumInsured" asp-for="policy.SumInsured" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Gross Premium</label>
                                                <input id="txtGP" asp-for="policy.GrossPremium" onchange="leadEndorsementGPOnChange(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Commission</label>
                                                <input id="txtCommission" asp-for="policy.Commission" onchange="leadEndorsementCommOnChange(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Net Premium</label>
                                                <input id="txtNetPremium" asp-for="policy.NetPremium" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' readonly />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Insurer</label>
                                                <select id="ddlIns" asp-for="policy.InsurerMasterId" type="text" asp-items="ViewBag.InsuresList" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Currency</label>
                                                <select id="ddlcurrency" asp-for="policy.Currency" type="text" asp-items="ViewBag.currencyList" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Status</label>
                                                <select asp-for="policy.Status" type="text" class="form-control">
                                                    <option>New</option>
                                                    <option>Won</option>
                                                    <option>Abandon</option>
                                                    <option>Lost</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Transaction Type</label>
                                                <select id="ddlTrancationType" asp-for="policy.TranscationType" type="text" class="form-control">
                                                    <option value="New Purchase">New Purchase</option>
                                                    <option value="Renewal">Renewal</option>
                                                    <option value="Addition">Addition</option>
                                                </select>
                                            </div>
                                        </div><div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Documents</label><br />
                                                <input type="hidden" id="hdnPolicyId" asp-for="policy.Id" value="@Model.policy.Id" />

                                                @if (Model.documentCount > 0)
                                                {
                                                    <a href="#" onclick="AddDocuments()" id="btnAddDocument" style="margin-top:0px" data-toggle="modal" class="btn btn-info btn-sm btn-round" data-target="#documentModal" rel="tooltip">
                                                        Uploaded Documents (@Model.documentCount.ToString())
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="AddDocuments()" id="btnAddDocument" style="margin-top:0px" data-toggle="modal" class="btn btn-info btn-sm btn-round" data-target="#documentModal" rel="tooltip">
                                                        Select Files
                                                    </a>
                                                }

                                                @*</a>*@


                                            </div>


                                        </div>


                                    </div>


                                </div>


                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Agents</label>
                                                        <input id="txtAgent1" name="Agent1" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Proportion</label>
                                                        <input id="prop1" name="prop1" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div style="    margin-top: -8px;" class="form-group">
                                                        <button id="btnShowNextAgent" onclick="showNextAgent()" type="button" class="btn btn-info btn-sm btn-round btn-round"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="agent2" style="display:none;margin-top:5px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="txtAgent2" name="Agent2" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input id="prop2" name="prop2" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div style="margin-top: -40px;" class="form-group">
                                                        <button id="btnagent2" onclick="removeAgent('agent2')" type="button" class="btn btn-info btn-sm btn-round"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="agent3" style="display:none;margin-top:5px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="txtAgent3" name="Agent3" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input id="prop3" name="prop3" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div style="margin-top: -40px;" class="form-group">
                                                            <button id="btnagent3" onclick="removeAgent('agent3')" type="button" class="btn btn-info btn-sm btn-round"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="agent4" style="display:none;margin-top:5px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="txtAgent4" name="Agent4" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input id="prop4" name="prop4" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div style="margin-top: -40px;" class="form-group">
                                                            <button id="btnagent4" onclick="removeAgent('agent4')" type="button" class="btn btn-info btn-sm btn-round"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="agent5" style="display:none;margin-top:5px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input id="txtAgent5" name="Agent5" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input id="prop5" name="prop5" onchange="checkFloatNumber(this);" onkeypress="return validateFloatKeyPress(this,event);" class="form-control" step='0.01' placeholder='0.00' />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div style="margin-top: -40px;" class="form-group">
                                                        <button id="btnagent5" onclick="removeAgent('agent5')" type="button" class="btn btn-info btn-sm btn-round"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                            <!--End policies common fields-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="documentModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top: 59px">
            <div style="max-width:400px" class="modal-dialog modal-notice">
                <div style="padding:0px !important" class="modal-content">
                    <div style="padding:0px !important" class="modal-header">
                        <div id="dialogDocuments">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
       var documentsUploaded = false;
    function AddDocuments() {

        var customerId = "";
        var targeturl = '@Url.Action("AddLeadDocuments", "LeadDocument")?lid=' + document.getElementById("hdnPolicyId").value;
//var targeturl = '@Url.Action("GetLeadPolicyData", "PolicyLead")?lid=a11a116f-fd32-4c94-bc3b-976f18c9c10c';
        if (!documentsUploaded) {
            $.ajax({
                url: targeturl,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    documentsUploaded = true;
                    $('#dialogDocuments').html(response);
                    $('#documentModal').show();


                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        else {
             $('#documentModal').show();
        }
        }

    $(document).ready(function () {
        var start =new Date().getFullYear(); //1970;
        var end = 1970; //new Date().getFullYear();
        var options = "";
        for (var year = start; year >= end; year--) {
            options += "<option>" + year + "</option>";
        }
        document.getElementById("txtYearOfMake").innerHTML = options;

        var currView = JSON.parse('@Html.Raw(Json.Serialize(Model.viewType))');
        if (currView == 'editlead') {
            $('input').attr('readonly', false);
            $('select').attr('readonly', false);
            //$('#idLeadSubmit').show();
            $('#idLead_Submit').show();
            $('#btnShowNextAgent').show();
            $('#btnUpdateLead').hide();
            $('#ddlPC').attr('readonly', true);
            $('#btnAddDocument').prop('disabled', false);
        } else if (currView == 'viewdetails') {
            $('input').attr('readonly', true);
            $('select').attr('readonly', true);
            $('select').prop('disabled', true);

            $('#idLead_Submit').hide();
            $('#btnShowNextAgent').hide();
            $('#btnUpdateLead').show();
            $('#btnAddDocument').prop('disabled', true);
        }

        psDate = JSON.parse('@Html.Raw(Json.Serialize(Model.startDate))');
        peDate = JSON.parse('@Html.Raw(Json.Serialize(Model.endDate))');

        $('#idStartDate').val(psDate);
        $('#idEndDate').val(peDate);

         leadDetailsData = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.LeadsData))');
        pcid = JSON.parse('@Html.Raw(Json.Serialize(Model.policyClassId))');

        if (pcid.toLowerCase()== "C9CE6B9A-771F-4ED7-9CEE-6B8F131E4DA5".toLowerCase() ||pcid.toLowerCase()== "FCF9DDF7-BF80-4503-9C5E-CECF428491EC".toLowerCase()) {
            $('#dvThirdPartyMotor').show();
            for (var i = 0; i < leadDetailsData.length; i++) {
                if (leadDetailsData[i].FieldName == 'MakeOfVehicle') {
                    $('#txtMakeOfVehicle').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'ModelOfVehicle') {
                    $('#txtModelOfVehicle').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'YearOfMake') {
                    $('#txtYearOfMake').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'CubicCapacity') {
                    $('#txtCubicCapacity').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'RegistrationNo') {
                    $('#txtRegistrationNo').val(leadDetailsData[i].FieldValue);
                } if (leadDetailsData[i].FieldName == 'RiskType') {
                    $('#txtRiskType').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'ValueInsured') {
                    $('#txtValueInsured').val(leadDetailsData[i].FieldValue);
                }
            }
        }else if (pcid.toLowerCase()== "8ED74480-CA28-418A-ADD6-FE25E8E15B86".toLowerCase() ||pcid.toLowerCase()== "D2CFA791-27FC-4CEF-970E-9251FC92D120".toLowerCase()) {
            $('#dvlifePolicy').show();
            for (var i = 0; i < leadDetailsData.length; i++) {
                if (leadDetailsData[i].FieldName == 'NameOfAssured') {
                    $('#txtNameOfAssured').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'NextOfKin') {
                    $('#txtNextOfKin').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'Salary') {
                    $('#txtSalary').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'Sex') {
                    $('#txtSex').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'DOB') {
                    $('#idDOB').val(leadDetailsData[i].FieldValue);
                } if (leadDetailsData[i].FieldName == 'SumAssessed') {
                    $('#txtSumAssessed').val(leadDetailsData[i].FieldValue);
                }
            }
        }else if (pcid.toLowerCase()== "E56249E3-E821-4969-80C4-B97BD4798CC2".toLowerCase()) {
            $('#dvCorporateBond').show();
            for (var i = 0; i < leadDetailsData.length; i++) {
                if (leadDetailsData[i].FieldName == 'NatureOfContract') {
                    $('#txtNatureOfContract').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'ProjectName') {
                    $('#txtProjectName').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'PremiumRates') {
                    $('#txtPremiumRates').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'ContractAmount') {
                    $('#txtContractAmount').val(leadDetailsData[i].FieldValue);
                }
                if (leadDetailsData[i].FieldName == 'BondAmount') {
                    $('#txtBondAmount').val(leadDetailsData[i].FieldValue);
                }
            }
        }

        checkandSetAgentsProportion('viewdetails');
            //

    });



    function closeLeadView() {
         $('#noticeModal23').modal('hide');
    $('input').attr('readonly', false);
    $('select').attr('readonly', false);
    }

    function checkandSetAgentsProportion(currView) {
         agentList = JSON.parse('@Html.Raw(Json.Serialize(Model.policy.AgentList))');
        for (var i = 0; i < agentList.length; i++) {
            if (i == 0) {
                $('#txtAgent1').val(agentList[i].agentName);
                $('#prop1').val(agentList[i].proportion);
            }
            if (i == 1) {
                $('#agent2').show();
                if (currView !== 'viewdetails') {
                    $('#btnagent2').show();
                } else {
                     $('#btnagent2').hide();
                }
                $('#txtAgent2').val(agentList[i].agentName);
                $('#prop2').val(agentList[i].proportion);

            }
            if (i == 2) {
                $('#agent3').show();
                if (currView !== 'viewdetails') {
                    $('#btnagent3').show();
                } else {
                    $('#btnagent3').hide();
                }
                $('#txtAgent3').val(agentList[i].agentName);
                $('#prop3').val(agentList[i].proportion);
            }
            if (i == 3) {
                $('#agent4').show();
                if (currView !== 'viewdetails') {
                    $('#btnagent4').show();
                } else {
                    $('#btnagent4').hide();
                }
                $('#txtAgent4').val(agentList[i].agentName);
                $('#prop4').val(agentList[i].proportion);
            }
            if (i == 4) {
                $('#agent5').show();
                if (currView !== 'viewdetails') {
                    $('#btnagent5').show();
                } else {
                    $('#btnagent5').hide();
                }
                $('#txtAgent5').val(agentList[i].agentName);
                $('#prop5').val(agentList[i].proportion);
            }
        }
    }
</script>