@model E4S.ViewModel.PolicyVM

@{
    ViewData["Title"] = "Policies";

    Layout = "~/Views/Shared/_LayoutLeadManagement.cshtml";
}

<script src="~/assets/assets/js/core/jquery.min.js"></script>
<script src="~/js/LeadCustom.js"></script>
<link href="~/css/custom.css" rel="stylesheet" />
<div class="content">
    <div class="col-md-12">
        <div class="card-stats card-raised">
            <div class="card-body">
                <div class="row">


                    <div class="box-width">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <img src="~/images/sign.png" />
                                </div>
                                <h3 class="info-title">@Model.HotLeads</h3>
                                <h6 class="stats-title">Hot Leads</h6>
                            </div>
                        </div>
                    </div>
                    <div class="bg-2">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <img src="~/images/sign.png" />
                                </div>
                                <h3 class="info-title">@Model.WarmLeads</h3>
                                <h6 class="stats-title">Warm Leads</h6>
                            </div>
                        </div>
                    </div>
                    <div class="bg-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <img src="~/images/sign.png" />
                                </div>
                                <h3 class="info-title">@Model.CoolLeads</h3>
                                <h6 class="stats-title">Cool Leads</h6>
                            </div>
                        </div>
                    </div>
                    <div class="bg-4">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <img src="~/images/sign.png" />
                                </div>
                                <h3 class="info-title">@Model.ColdLeads</h3>
                                <h6 class="stats-title">Cold Leads</h6>
                            </div>
                        </div>
                    </div>
                    <div class="bg-5">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <img src="~/images/sign.png" />
                                </div>
                                <h3 class="info-title">@Model.AllLeads</h3>
                                <h6 class="stats-title">All Leads</h6>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card card-stats card-raised">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-header">
                            <h4 class="card-title">Policies</h4>

                        </div>
                    </div>

                    <div class="col-md-5">
                        <a class="btn btn-info pull-right" style="display:none" asp-action="Create"><i class="now-ui-icons ui-1_simple-add"></i> &nbsp;ADD</a>

                        <a class="btn btn-success" href="#" style="display:none"><i class="now-ui-icons arrows-1_cloud-upload-94"></i>&nbsp;UPLOAD</a>

                        <a class="btn btn-danger" href="#" style="display:none"><i class="now-ui-icons arrows-1_refresh-69"></i> &nbsp;RESET</a>
                    </div>

                    <div style="height:1px; clear:both; width:100%; border-bottom:1px solid #ccc;"></div>
                </div>
                <div class="row">
                    <div class="card-header">
                       
                        <div id="dv_Policy"><span id="spnLoading">Loading...</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    
        bindPolicyDashboard();

    });

        
</script>

